.navbar {
    position: fixed;
    top: 0;
    width: 200%;
    z-index: 1000;  /* Ensures the navbar appears above other content */
    background-color: #333;  /* Example background color */
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adds a shadow for separation */
}

/* Add padding to the content below the navbar to avoid overlap */
body {
    padding-top: 60px; /* Adjust based on navbar height */
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.nav-pills {
    --bs-nav-link-color: rgb(0, 0, 0);
    --bs-nav-pills-link-active-color: black;
    --bs-nav-pills-link-active-bg: rgb(0, 0, 0);
}

.nav-item button {
    border-radius: 10px;
}

div {
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #555;
    font-size: 1rem;
    margin: 10px 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }