{% extends "royalrumble/base.html" %}
{% load static  %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block content %}
    
    <h1>WWE Royal Rumble 2009 Players</h1>
    
      {% for wrestler in wrestler %}
                <img src="{{ wrestler.image.url }}" class="mr-3" alt="{{ wrestler.name }}" style="width: 300px; height: auto;">
          <div class="stats" id ='stats'>
          <p>{{wrestler.name}}</h2>
          <p>{{wrestler.weight}} Lbs</p>
          <p>{{wrestler.height}} Ft</p>
          <p>{{wrestler.signature}} Ft</p>
          </div>


          <div class="media-body">
          </div>
    {% endfor %}
  

  
  {% endblock content %}

