{% extends "royalrumble/base.html" %}
{% load static  %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block content %}
    
    <h1>WWE Royal Rumble 2009 Players</h1>
    
    <ul class="list-unstyled">
      {% for player in players %}
        <li class="media mb-3">
          <img src="{{ player.image_url }}" class="mr-3" alt="{{ player.name }}" style="width: 100px; height: auto;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ player.name }}</h5>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endblock content %}

