{% extends "royalrumble/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2> Wrestler Information</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Player Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="weight" class="form-label">Player Weight</label>
            <input type="number" step="any" class="form-control" id="weight" name="weight" required>
        </div>

        <div class="mb-3">
            <label for="height" class="form-label">Player Height</label>
            <input type="number" step="any" class="form-control" id="height" name="height" required>
        </div>

        <div class="mb-3">
            <label for="signature" class="form-label">Player Signature (Image)</label>
            <input type="file" class="form-control" id="signature" name="signature" accept="image/*" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Player Image</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock content %}